body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "Roboto";
  color: #1c1a1a;
}

body,
html {
  background: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  height: inherit;
  width: inherit;
}
input {
  outline: none;
  border: none;
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px;
  cursor: default;
}
body::-webkit-scrollbar-track {
  background: #eeeeee;
}
body::-webkit-scrollbar-thumb {
  background: #cccccc;
}
